/*
    Versionshantering slutprojekt (FE23)
    Grupp 4

    Stylesheet for the About page layout.
*/

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#about .content {
    text-align: center;
    font-family: 'Lexend Exa', sans-serif;
    padding: 1rem 1rem 0 1rem;
}

#designPic {
    max-height: 100%;
    max-width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    width: auto;
    height: 100%;
    border-radius: 15%;
    margin-top: 2.5rem;
}

#about-picture {
    padding: 0 1rem;
}

@media only screen and (min-width: 650px) {

    #about {
        justify-content: center;
        flex-direction: row;
        align-items: center;
    }

    #about .content {
        flex-basis: 50%;
        padding: 1rem 1rem 0 1rem;
    }

    #about-picture { 
        flex-basis: 50%;
    }

    #about .aboutBlock1 {
        text-align: center;
        margin-left: 2rem;
    }

    #about .aboutBlock2 {
        text-align: center;
        margin-right: 10rem;
    }

    #about .aboutBlock3 {
        text-align: center;
       
    }

    #designPic {
        margin-top: 0;
    }


}