/*
    Versionshantering slutprojekt (FE23)
    Grupp 4

    Stylesheet for Dark Mode overrides.
*/

/* Base layout */
body.darkmode {
    background-color: rgb(13, 20, 29);
    background: linear-gradient(to right top, rgb(19, 13, 29), rgb(37, 29, 44));
    color: white;
    --messageCardBackgroundDefault: rgb(94 161 94);
}


body.darkmode a,
body.darkmode a:visited {
    color: orange;
}

body.darkmode a:hover {
    color: yellow;
}


/* Main navigation menu */

body.darkmode #mainmenu {
    background-color: black;
}

body.darkmode #mainmenu a,
body.darkmode #mainmenu a:visited {
    color: white;
    text-decoration: none;
}

body.darkmode #mainmenu a:hover {
    color: yellow;
}

body.darkmode #mainmenu .menu-option img {
    filter: invert(100%);
}

body.darkmode #mainmenu-toggle:checked ~ #user-menu-button span {
    color: white;
}



/* Background colors of message notes */

body.darkmode .message-edit-form {
    background-color: var(--messageCardBackgroundDefault);
}

body.darkmode .message-card,
body.darkmode .background-lightgreen {
    /* background-color: rgb(144,238,144); */
    background-color: var(--messageCardBackgroundDefault);
    color: black;
}

body.darkmode .background-lightyellow {
    /* background-color: rgb(255,255,224); */
    background-color: rgb(153 153 88);
    color: black;
}

body.darkmode .background-lightblue {
    /* background-color: rgb(173,216,230); */
    background-color: rgb(135 167 177);
    color: black;
}

body.darkmode .background-lightpink {
    /* background-color: rgb(255,182,193); */
    background-color: rgb(175 135 141);
    color: black;
}

body.darkmode .background-lightgray {
    /* background-color: rgb(211,211,211); */
    background-color: rgb(159 159 159);
    color: black;
}

/* Long message text view popup */
body.darkmode .message-fulltext-dialog,
body.darkmode .message-fulltext-wrapper,
body.darkmode .message-fulltext-box {
    background-color: black;
    color: white;
}

body.darkmode .message-fulltext-wrapper h3 {
    color: orange;
}

body.darkmode .message-fulltext-close {
    background-color: darkgrey;
    color: red;
}

body.darkmode #user-login-dialog {
    background-color: rgb(13, 20, 29);
}

body.darkmode #change-profile-submit {
    background-color: rgb(13, 20, 29);
    color: orange;
    border: thin;
    border-color: #2e132e;
    border-radius: 0.3rem;
    font-weight: 700;
    cursor: pointer;
}

body.darkmode #change-account-submit {
    background-color: rgb(13, 20, 29);
    color: orange;
    border: thin;
    border-color: #2e132e;
    border-radius: 0.3rem;
    font-weight: 700;
    cursor: pointer;
}

body.darkmode #change-account-remove {
    background-color: rgb(13, 20, 29);
    color: orange;
    border: thin;
    border-color: #2e132e;
    border-radius: 0.3rem;
    font-weight: 700;
    cursor: pointer;
}

body.darkmode #login-button {
    background-color: rgb(13, 20, 29);
    color: lightgray;
    border: thin;
    border-color: #2e132e;
    border-radius: 0.3rem;
    font-weight: 700;
    cursor: pointer;
}

body.darkmode #user-show-signup {
    background-color: rgb(13, 20, 29);
    color: lightgray;
    border: thin;
    border-color: #2e132e;
    border-radius: 0.3rem;
    font-weight: 700;
    cursor: pointer;
}

body.darkmode #new-user-button {
    background-color: rgb(13, 20, 29);
    color: lightgray;
    border: thin;
    border-color: #2e132e;
    border-radius: 0.3rem;
    font-weight: 700;
    cursor: pointer;
}

body.darkmode #user-show-login {
    background-color: rgb(13, 20, 29);
    color: lightgray;
    border: thin;
    border-color: #2e132e;
    border-radius: 0.3rem;
    font-weight: 700;
    cursor: pointer;
}

body.darkmode #logoff-button {
    background-color: orange;
    color: rgb(27, 43, 63);
    border: thin;
    border-color: lightgray;
    border-radius: 0.3rem;
    font-weight: 700;
    cursor: pointer;
}

body.darkmode #login-form {
    border-radius: 80% / 10%;
    border: none;
    color: orange;
    background-color: rgb(27, 43, 63);
    position: relative;
}

body.darkmode #new-user-form {
    border-radius: 80% / 10%;
    border: none;
    color: orange;
    background-color: rgb(27, 43, 63);
}

body.darkmode #user-profile-form-wrapper {
    color: orange;
    background-color: rgb(27, 43, 63);
}

body.darkmode #user-account-form-wrapper {
    color: orange;
    background-color: rgb(27, 43, 63);
}

body.darkmode #login-form label,
body.darkmode #new-user-form label,
body.darkmode #user-profile-form-wrapper label,
body.darkmode #user-account-form-wrapper label {
    color: orange;
}

body.darkmode #login-form input,
body.darkmode #new-user-form input,
body.darkmode #user-account-form-wrapper input,
body.darkmode #user-profile-form-wrapper input {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border: 0;
    border-radius: 0.2rem;
    padding: 0.2rem;
}

body.darkmode #user-info-wrapper {
    color: orange;
}

body.darkmode #user-login-close {
    color: blueviolet;
    margin-top: 0px;
}