/*
    Contribution by Amanda (group 2)
*/

#formFilter {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 0;
}

#filterFormText{
    color: black;
    background-color: white;
    min-height: 2rem;
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 0.5rem;
    border-radius: 15px 0 0 15px;
    font-size: 0.8em;
}

body.darkmode #filterFormText {
    color: white;
    background-color: black;
}

#filter-messages {
    margin: 0;
    font-family: var(--defaultFont);
    cursor: pointer;
    min-height: 2rem;
    padding: 0.5rem;
    border: 0;
    outline: 0;
}

body.darkmode #filter-messages {
    color: white;
    background-color: black;
}

#filterBtn {
    font-family: var(--defaultFont);
    text-align: center;
    color: white;
    background-color: rgb(207, 135, 0);
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 0.8em;
    padding: 5px;
    min-height: 2rem;
    padding: 0.5rem;
    border: 0;
    border-radius: 0 15px 15px 0;
}

#filterBtn:hover {
    background-color: orange;
    color: black;
}